.sidebarOption{
    color: grey;

    cursor: pointer;
    transition: 200ms color ease-in;
    display: flex;
    align-items: center;
}
.sidebarOption:hover{
    color: white;
}

.sidebarOptionIfIcon{
    display: flex;
    align-items: center;
    height: 40px;
}

.sidebarOption__icon{
    margin: 0 10px;
}

.sidebarOption > p{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;

}